@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #C5E4E7;
}

input::placeholder {
  text-align: center;
  font-weight: bold;
  color: #5D7474;
}

.absolute {
  left: 50%;
  transform: translate(-50%, -50%);
  top: 15%;
}





